<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
    <title>Edit-record</title>
</head>

<body>
    <div class="container">
        <h1>Update Income & Expense</h1>
        <form action="/updatepage/{{record.id}}" method="post">
            <label for="desc">Description:</label>
            <input type="text" name="desc" value="{{record.desc}}">

            <div class="radio-group">
                <label><input type="radio" name="inc_exp" value="income" {% if record.inc_exp == 'income' %}checked{% endif %} required>Income</label>
                <label><input type="radio" name="inc_exp" value="expense" {% if record.inc_exp == 'expense' %}checked{% endif %}>Expense</label>
            </div>

            <label for="amount">Amount:</label>
            <input type="text" name="amount" Value="{{record.amount}}" required>

            <input type="submit" value="Update">
        </form>

    </div>
</body>

</html>